body {
    background-color: whitesmoke;
}

body > ol > li > a {
    color: aqua;
}

.mainbody {
    border: 25px solid green;
    font-size: 30px;
    padding: 40px;
}


.intro {
    display: flex;
    align-items: center;
}

.intro1 > h1 {
    background-color: olive;
    text-align: center;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.intro > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
}

.character {
    text-align: center;

}

.ch > ul >li {
    text-align: left;
    font-size: large;

    color: black;

    border-style: double;
}

.ch > h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(0 0 0.75rem blue);

}

#test {
    width: auto;
    height: 300px;
}