body {
    background-color: whitesmoke;
}

body > ol > li > a {
    color: aqua;
}

.mainbody {
<<<<<<< HEAD
    border: 25px solid green;
=======
    border: 25px solid black;
>>>>>>> 3c3e267c31066b09c7c93649da29b16bce3c1288
    font-size: 30px;
    padding: 40px;
}


.intro {
    display: flex;
    align-items: center;
}

.intro1 > h1 {
<<<<<<< HEAD
    background-color: olive;
=======
    background-color: red;
    color: white;
>>>>>>> 3c3e267c31066b09c7c93649da29b16bce3c1288
    text-align: center;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.intro > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
}

.character {
    text-align: center;

}

<<<<<<< HEAD
.ch > ul >li {
    text-align: left;
    font-size: large;

    color: black;
}

.ch > h2 {
    text-align: left;
=======
.ch{

}

.ch > h2 {
    display: inline;
    float: left;
    text-decoration-line: underline;
>>>>>>> 3c3e267c31066b09c7c93649da29b16bce3c1288
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(0 0 0.75rem blue);
    padding-left: 25px;

}

<<<<<<< HEAD
.ch > h3 {
    text-align: left;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(0 0 0.75rem red);
    padding-left: 25px;

}

=======

.ch > h3 {
    display: inline;
    float: right;
    text-decoration-line: underline;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    filter: drop-shadow(0 0 0.75rem red);
    padding-right: 25px;

}

#dot {
    display: inline;
}

.rule {
    float: left;
    padding-top: 125px;
    font-size: 25px;
    color: black;
}

.upcoming {
    float: right;
    padding-top: 125px;
    font-size: 25px;
    color: black;
}

>>>>>>> 3c3e267c31066b09c7c93649da29b16bce3c1288



#test {
    width: auto;
    height: 300px;
}