nav
{
    padding-left: 10px;
}
.homebrand
{
    cursor: pointer;
}
.userinfo{
    padding: 7px 0px;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
}


>>>>>>> 7eba812b63d1f0bc7f65e3c2ad4cb0b5b0b0e72f
=======
}


>>>>>>> 7eba812b63d1f0bc7f65e3c2ad4cb0b5b0b0e72f
